.main-hero {
  height: 100vh;
  position: relative;

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 4.8rem;
  }

  &__text {
    font-size: 3.2rem;
    line-height: 1.5;
    max-width: 93rem;
    margin-bottom: 5.2rem;
  }

  &__cta-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__cta {
    &:after {
      content: "";
      display: inline-block;
      width: 2.5rem;
      height: 3rem;
      background-image: url("./img/apple.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 2.2rem;
    }
  }

  &__after-cta-text {
    font-size: 1.6rem;
    line-height: 1.7;
    color: $light;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    z-index: 1;
  }

  &__scroll-down {
    position: absolute;
    bottom: 10.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.2rem;
    height: 1.5rem;
    z-index: 2;
    cursor: pointer;
    padding: 10px;

    svg {
      color: $white;
      transition: color .3s ease-in;
    }

    &:hover {
      svg {
        color: $gray;
      }
    }
  }
}