.merch {
  position: relative;
  background-color: $dark;
  padding: 6rem 0 6.4rem;

  &__title {
    margin-bottom: 3rem;

    &:after {
      content: ".";
      display: inline;
      color: $white;
    }
  }

  &__text {
    margin-bottom: 5.5rem;
  }

  .container {
    overflow-x: hidden;
  }

  &__swiper {
    margin-bottom: 5rem;
    .swiper-wrapper {
    }

    &__slide {
      height: auto;
      width: 93rem;
      background-color: $gray;

      a {
        color: $white;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 4rem;
        padding: 4.7rem 2.9rem 4.7rem 2.9rem;

        @media screen and (max-width: $md) {
          flex-flow: column-reverse nowrap;
          gap: 2.4rem;
          padding: 2.4rem 2.4rem 2.4rem 2.4rem;
        }
      }

      &__title {
        color: $white;
        font-size: 2.4rem;
        line-height: 1.58;
        font-weight: $bold;
        margin-bottom: 6.6rem;

        @media screen and (max-width: $md) {
          margin-bottom: 2.4rem;
          font-size: 2rem;
        }
      }

      &__text {
        color: $light-gray;
        line-height: 1.5;

        @media screen and (max-width: $md) {
          font-size: 1.6rem;
          line-height: 1;
        }
      }

      &__image {
        width: 46.77%;
        padding: 5rem 8.5rem 6rem;
        margin-bottom: 3rem;

        @media screen and (max-width: $md) {
          width: 100%;
          padding: 0;
          margin-bottom: 0;
        }

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.2rem;

      &__pagination {
        .swiper-pagination-bullet {
          height: 1.8rem;
          width: 1.8rem;
          background-color: transparent;
          border: 1px solid $white;
          border-radius: 50%;
          opacity: 1;

          &-active {
            background-color: $blue;
            border-color: $blue;
          }
        }
      }

      &__navigation {
        display: flex;
        gap: 4.8rem;

        .swiper-button-prev,
        .swiper-button-next {
          position: static;
          height: 4.2rem;
          width: 2.3rem;
          margin-top: 0;
          z-index: 4;
        }

        .swiper-button {
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url("/src/img/swiper-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }

          &-disabled {
            filter: invert(1);
          }

          &-prev {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 14.8rem;
    background-image: url("/src/img/buy_now_ribon.png");
    background-repeat: repeat-x;
  }
}