.blog {
  background-color: $gray;

  &__hero {
    position: relative;
    background-color: $blue;
    padding: 15.8rem 0;
    z-index: 2;
    overflow: hidden;

    @media screen and (max-width: $md) {
      padding: 8.8rem 0;
    }

    &__bg {
      position: absolute;
      top: 0;
      right: 2%;
      width: auto;
      height: 100%;
      opacity: .05;
      z-index: -1;
    }
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;

    @media screen and (max-width: $md) {
      flex-flow: column nowrap;
    }
  }

  &__main {
    flex: 0 0 81rem;
    padding: 6rem 0 8rem;

    @media screen and (max-width: $md) {
      padding: 4rem 0 2rem;
    }

    @media screen and (max-width: $md) {
      flex-basis: auto;
    }
  }

  &__posts {
    display: flex;
    flex-flow: column nowrap;
    gap:8rem;
    margin-bottom: 3.2rem;

    @media screen and (max-width: $md) {
      margin-bottom: 8rem;
    }
  }

  &__post  {
    display: flex;
    flex-flow: column nowrap;

    &__image {
      width: 100%;
      height: auto;
      aspect-ratio: 2/1;
      margin-bottom: 2rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__title {
      margin-bottom: 2rem;
    }

    &__text {
      color: $light-gray;
      margin-bottom: 1.7rem;
      line-height: 1.5;

      @media screen and (max-width: $md) {
        font-size: 1.6rem;
        line-height: 1.2;
      }
    }

    &__link {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  aside {
    flex: 0 1 auto;
    padding: 5.3rem 0 8rem;

    @media screen and (max-width: $md) {
      padding: 2rem 0 2rem;
    }
  }
}